<button type="button" class="btn btn-link" [routerLink]="['/home']" >  Back</button>
<h1> I'm gonna buy...</h1>
<button type="button" class="btn btn-primary m-2 float-right" (click)="addNewItem()" >Add  <i class="fa fa-plus" aria-hidden="true"></i></button>
<table class="table table-hover">
    <thead>
      <tr>
          <th class="text-center"> ID </th>
          <th class="text-center"> Name </th>
          <th class="text-center"> Description </th>
          <th class="text-center"> Price </th>
          <th class="text-center"> &nbsp; </th>   
      </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let item of items" >
            <td> {{item.id }} </td>
            <td> {{item.name}} </td>
            <td> {{item.description}} </td>
            <td> {{item.price | currency: 'USD': true: '1.0-2'}} </td>
            <td>
                <button class="btn btn-info" (click)="updateItem(item)">
                    <i class="fa fa-edit"></i>
                </button>

                <button class="btn btn-danger" (click) = "deleteItem(item)">
                    <i class="fa fa-minus"></i>
                </button>                        

            </td>
        </tr>
    </tbody>
</table>    



<div *ngIf="itemForm" class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)= "cancelItem()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="card-body">
        <div class="form-group has-success">
            <label class="form-control-label" for="inputSuccess1">ID</label>
            <input type="text" value="" class="form-control is"-valid" id="inputValid" [(ngModel)]="newItem.id">
          </div>
    
          <div class="form-group has-success">
            <label class="form-control-label" for="inputSuccess1">Name</label>
            <input type="text" value="" class="form-control is-valid" id="inputValid" [(ngModel)]="newItem.name">
          </div>
    
          <div class="form-group has-success">
            <label class="form-control-label" for="inputSuccess1">Description</label>
            <input type="text" value="" class="form-control is-valid" id="inputValid" [(ngModel)]="newItem.description">
          </div>
    
          <div class="form-group has-success">
            <label class="form-control-label" for="inputSuccess1">Price</label>
            <input type="text" value="" class="form-control is-valid" id="inputValid" [(ngModel)]="newItem.price">
          </div>    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="saveItem(newItem)">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelItem(item)">Close</button>
        </div>
    
  </div>
  
